node_modules/**
.git/**
.gitignore
build/**
scripts/**
src/**
!src/extension.js
!styles/**
*.md
!README.md
!CHANGELOG.md
!LICENSE
**/*.map
.vscode/**
.github/**
renovate.json
commitlint.config.js
sheriff.config.ts
svgo.config.js
tsconfig*.json
biome.jsonc
bunfig.toml
bun.lock
husky/**
.husky/**
**/.DS_Store
**/*.log
**/Thumbs.db